* {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
html, body {
  width: 100%;
  height: 100%;
}

a {
  color: #00B7FF;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
  background-position: top;
}